
body {
    font-family: Arial, sans-serif;
    background-color: lightblue;
    margin-right: 320px;
    margin-left: 320px;
    padding: 0;
}



main {
    margin: 20px;
}

footer {
    background-color:black;
    color: gold;
    text-align: center;
    padding: 10px;
}
